<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pic</key>
		<string>1.jpg</string>
		<key>name</key>
		<string>千滋百味自助烤肉火锅</string>
		<key>price</key>
		<string>53.8</string>
		<key>sold</key>
		<string>94588</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>2.jpg</string>
		<key>name</key>
		<string>新梅园圆通素食</string>
		<key>price</key>
		<string>29.8</string>
		<key>sold</key>
		<string>237763</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>3.jpg</string>
		<key>name</key>
		<string>仅售26元！价值30元的代金券1张</string>
		<key>price</key>
		<string>26</string>
		<key>sold</key>
		<string>153622</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>4.jpg</string>
		<key>name</key>
		<string>亚马逊巴西烤肉</string>
		<key>price</key>
		<string>69</string>
		<key>sold</key>
		<string>37759</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>5.jpg</string>
		<key>name</key>
		<string>新宝城海鲜坊</string>
		<key>price</key>
		<string>80</string>
		<key>sold</key>
		<string>2756</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>6.jpg</string>
		<key>name</key>
		<string>仅售88元！价值107.8元的自助晚餐</string>
		<key>price</key>
		<string>88</string>
		<key>sold</key>
		<string>4971</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>7.jpg</string>
		<key>name</key>
		<string>香格里拉大酒店单人自助晚餐</string>
		<key>price</key>
		<string>288</string>
		<key>sold</key>
		<string>4040</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>8.jpg</string>
		<key>name</key>
		<string>真功夫新枸杞红枣露</string>
		<key>price</key>
		<string>6.5</string>
		<key>sold</key>
		<string>550</string>
	</dict>
</array>
</plist>
