<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
			<dict>
		<key>pic</key>
		<string>1.jpg</string>
		<key>name</key>
		<string>田义成</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>2.jpg</string>
		<key>name</key>
		<string>孙晓红</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>3.jpg</string>
		<key>name</key>
		<string>黄连波</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>4.jpg</string>
		<key>name</key>
		<string>陈静</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>5.jpg</string>
		<key>name</key>
		<string>何贤龙</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>6.jpg</string>
		<key>name</key>
		<string>李进伟</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>7.jpg</string>
		<key>name</key>
		<string>于冬元</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>8.jpg</string>
		<key>name</key>
		<string>黄丽珍</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>9.jpg</string>
		<key>name</key>
		<string>杨平</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>10.jpg</string>
		<key>name</key>
		<string>吴光浩</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>11.jpg</string>
		<key>name</key>
		<string>张明辉</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>12.jpg</string>
		<key>name</key>
		<string>蒙远飞</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>13.jpg</string>
		<key>name</key>
		<string>范晓红</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>14.jpg</string>
		<key>name</key>
		<string>姚秀成</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>15.jpg</string>
		<key>name</key>
		<string>周永健</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>16.jpg</string>
		<key>name</key>
		<string>陈志福</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>17.jpg</string>
		<key>name</key>
		<string>叶顺成</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>18.jpg</string>
		<key>name</key>
		<string>卢忠科</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>19.jpg</string>
		<key>name</key>
		<string>秦明坤</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>20.jpg</string>
		<key>name</key>
		<string>张嘉玲</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>21.jpg</string>
		<key>name</key>
		<string>沈梦婷</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>22.jpg</string>
		<key>name</key>
		<string>巫志东</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>23.jpg</string>
		<key>name</key>
		<string>黄艳红</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>1.jpg</string>
		<key>name</key>
		<string>沈超超</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>2.jpg</string>
		<key>name</key>
		<string>黄振宽</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>3.jpg</string>
		<key>name</key>
		<string>欧阳小锋</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>4.jpg</string>
		<key>name</key>
		<string>熊银春</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>5.jpg</string>
		<key>name</key>
		<string>杨文聪</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>6.jpg</string>
		<key>name</key>
		<string>彭先波</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>7.jpg</string>
		<key>name</key>
		<string>陈云峰</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>8.jpg</string>
		<key>name</key>
		<string>刘小燕</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>9.jpg</string>
		<key>name</key>
		<string>朱国意</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>10.jpg</string>
		<key>name</key>
		<string>陈林</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>11.jpg</string>
		<key>name</key>
		<string>何丹</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>12.jpg</string>
		<key>name</key>
		<string>禤德成</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>13.jpg</string>
		<key>name</key>
		<string>王江</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>14.jpg</string>
		<key>name</key>
		<string>李地实</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>15.jpg</string>
		<key>name</key>
		<string>刘浪萍</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>16.jpg</string>
		<key>name</key>
		<string>商超</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>17.jpg</string>
		<key>name</key>
		<string>黄胜龙</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>18.jpg</string>
		<key>name</key>
		<string>陈军</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>19.jpg</string>
		<key>name</key>
		<string>盛义</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>20.jpg</string>
		<key>name</key>
		<string>朱万林</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>21.jpg</string>
		<key>name</key>
		<string>吕田海</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>22.jpg</string>
		<key>name</key>
		<string>刘洋</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>23.jpg</string>
		<key>name</key>
		<string>杨继森</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>1.jpg</string>
		<key>name</key>
		<string>王程洋</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>2.jpg</string>
		<key>name</key>
		<string>范燕媛</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>3.jpg</string>
		<key>name</key>
		<string>黄振飞</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>4.jpg</string>
		<key>name</key>
		<string>谭竹清</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>5.jpg</string>
		<key>name</key>
		<string>农金萍</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>6.jpg</string>
		<key>name</key>
		<string>李志军</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>7.jpg</string>
		<key>name</key>
		<string>梁汉乾</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>8.jpg</string>
		<key>name</key>
		<string>朱金土</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>9.jpg</string>
		<key>name</key>
		<string>刘运文</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>10.jpg</string>
		<key>name</key>
		<string>何万里</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>11.jpg</string>
		<key>name</key>
		<string>刘鹏</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>12.jpg</string>
		<key>name</key>
		<string>文辽</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>13.jpg</string>
		<key>name</key>
		<string>程文军</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>14.jpg</string>
		<key>name</key>
		<string>周敏</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>15.jpg</string>
		<key>name</key>
		<string>骆耀辉</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>16.jpg</string>
		<key>name</key>
		<string>乐萌</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>17.jpg</string>
		<key>name</key>
		<string>袁皎</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>18.jpg</string>
		<key>name</key>
		<string>罗嘉怡</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>19.jpg</string>
		<key>name</key>
		<string>唐芳</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>20.jpg</string>
		<key>name</key>
		<string>甘子旋</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>21.jpg</string>
		<key>name</key>
		<string>庞祖裕</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>22.jpg</string>
		<key>name</key>
		<string>彭丽萍</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>23.jpg</string>
		<key>name</key>
		<string>冯彩秀</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>1.jpg</string>
		<key>name</key>
		<string>沈赞</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>2.jpg</string>
		<key>name</key>
		<string>刑光</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>3.jpg</string>
		<key>name</key>
		<string>杨仲平</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>4.jpg</string>
		<key>name</key>
		<string>曾腾飞</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>5.jpg</string>
		<key>name</key>
		<string>黎晓玲</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>6.jpg</string>
		<key>name</key>
		<string>张德云</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>7.jpg</string>
		<key>name</key>
		<string>张辉</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>8.jpg</string>
		<key>name</key>
		<string>冯见森</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>9.jpg</string>
		<key>name</key>
		<string>张应季</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>10.jpg</string>
		<key>name</key>
		<string>陈文红</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>11.jpg</string>
		<key>name</key>
		<string>孙豪</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>12.jpg</string>
		<key>name</key>
		<string>杨萍萍</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>13.jpg</string>
		<key>name</key>
		<string>赵霓虹</string>
	</dict>
			<dict>
		<key>pic</key>
		<string>14.jpg</string>
		<key>name</key>
		<string>何川</string>
	</dict>
	</array>
</plist>